<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hofarm - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body style="background: #F5F5F5;">

    <nav class="navbar" style="background:#003245;height:43px" >
        <a class="navbar-brand" href="#">
          <img 
          src="{{ url_for('static', filename = 'img/logo_light.png')}}"         
          class="d-block w-100 " alt="" height="30">  
           
        </a>
    </nav>
    {% block content%}

    {% endblock %}
</body>
</html>